
$prm_color1: #4a9146; //green
$prm_color2: #e2ede1; //lightgray
$prm_color3: #494d52; //darkgray
$prm_color4: #e6fff7; //cyan/blue
$prm_color5: #001a00; //darkgreen

$bdr-color1:#0f0d0d; //black
$bdr-color2:#f71505; //red
$bdr-color3:transparent;

$font-style1:Times New Roman;
$font-style2:Brush Script MT;

$bg-color1:#ff0000;

$font-size1: 4vw;
$font-size2: 3vw;
$font-size3: 2vw;
$font-size4: 1vw;

$ft-wgt1: Bold;
$ft-wgt2: normal;

$txt-align1: left;
$txt-align2: center;
$txt-align3: right;

$bdr-rds1: 10px;
$bdr-rds2: 20px;
$bdr-rds3: 30px;
$bdr-rds4: 40px;

$bdr-shdw1:5px 5px 7px 3px #ccffef;

$txt-trans1:Uppercase;
$txt-trans2:Capitalize;
